<form [formGroup]="registerForm" (ngSubmit)="registerForm.valid && register()" autocomplete="off">
    <h2 class="text-center text-primary">Sign up</h2>
    <hr>
    <div class="mb-3">
        <label style="margin-right:10px">I am a: </label>
        <label class="form-check-label">
            <input type="radio" class="form-check-input" value="male" formControlName="gender">Male
        </label>
        <label class="form-check-label ms-2 mb-2">
            <input type="radio" class="form-check-input" value="female" formControlName="gender">Female
        </label>
        <input 
            type="text" 
            class="form-control is-invalid"
            [class.is-invalid]="registerForm.get('username')?.touched && registerForm.get('username')?.invalid"
            formControlName="username"
            placeholder="Username"
            />
        <div class="alert alert-danger mt-2" *ngIf="registerForm.get('username')?.touched && registerForm.get('username')?.invalid">Please enter Username</div>
    </div>
    <div class="mb-3">
        <input 
            type="text" 
            class="form-control"
            formControlName="knownAs"
            placeholder="Known As"
            [class.is-invalid]="registerForm.get('knownAs')?.touched && registerForm.get('knownAs')?.invalid"
            />
    </div>
    <div class="mb-3">
        <input 
            type="text" 
            class="form-control"
            [class.is-invalid]="registerForm.get('dateOfBirth')?.touched && registerForm.get('dateOfBirth')?.invalid"
            formControlName="dateOfBirth"
            placeholder="Date of Birth"
            bsDatepicker
            [bsConfig]="bsConfig"
            [maxDate]="maxDate"
        >
    </div>
    <div class="mb-3">
        <input 
            type="text" 
            class="form-control"
            formControlName="city"
            placeholder="City"
            [class.is-invalid]="registerForm.get('city')?.touched && registerForm.get('city')?.invalid"
            />
    </div>
    <div class="mb-3">
        <input 
            type="text" 
            class="form-control"
            formControlName="country"
            placeholder="Country"
            [class.is-invalid]="registerForm.get('country')?.touched && registerForm.get('country')?.invalid"
            />
    </div>
    <div class="mb-3">
        <input 
            type="password" 
            class="form-control"
            formControlName="password"
            placeholder="Password"
            [class.is-invalid]="registerForm.get('password')?.touched && registerForm.get('password')?.invalid"
            />
    </div>
    <div class="mb-3">
        <input 
            type="password" 
            class="form-control"
            formControlName="confirmPassword"
            placeholder="Password"
            [class.is-invalid]="registerForm.get('confirmPassword')?.touched && registerForm.get('confirmPassword')?.invalid"
            />
    </div>
    <div class="text-center">
        <button class="btn btn-success me-2" type="submit" [disabled]="registerForm.invalid">Register</button>
        <button class="btn btn-default" type="button" (click)="cancel()">Cancel</button>
    </div>

</form>